{% extends 'base.html.twig' %}

{% block title %}
    {{ "My library"|trans([], "message") }}
{% endblock %}

{% block body %}
    <h1>{{ "Welcome to my great library"|trans([], "message") }}</h1>
    <div id="user">{{ "User connected"|trans([],"message") }} : {{ user.id}} {{ "books taken"|trans([], "message") }}:</div>
    <div id="user-books">
    {% for book in user.books %}
        {% if book.id == fade %}
            <a href="{{ path('book_rendre' , {id: book.id}) }}" class="book  available " id="fade-out" style="background-image: url('{{ book.cover}}')"></a>
        {% else%}
            <a href="{{ path('book_rendre', {id: book.id}) }}" class="book  available" style="background-image: url('{{ book.cover}}')"></a>
        {% endif %}
    {% endfor %}
    </div>
    <br>
    <div id="shelf">
        {% for shelf in shelfs %}
            <div class="row">
                {% for category in shelf.categories %}
                    <div class="category">
                        <span class="title">{{ category.title }}</span>
                        {% for book in category.books %}
                            {% if book.available %}
                                {% if book.id == fade %}
                                    <a href="{{ path('book_take' , {id: book.id}) }}" class="book  available " id="fade-in" style="background-image: url('{{ book.cover}}')"></a>
                                {% else%}
                                <a href="{{ path('book_take' , {id: book.id}) }}" class="book  available "  style="background-image: url('{{ book.cover}}')"></a>
                                {% endif%}
                            {% else %}
                                <div class="book"></div>
                            {% endif %}

                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}




